.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
img{
    width:100%;
}
.text-ellipsis {
    overflow: hidden;
    display: block;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
.text-ellipsis-muti {
    overflow:hidden;/*超出隐藏*/
    text-overflow:ellipsis;/*文本溢出时显示省略标记*/
    display:-webkit-box;/*设置弹性盒模型*/
    -webkit-box-orient: vertical;
}
.text-ellipsis-2 {
    -webkit-line-clamp:2;/*文本占的行数,如果要设置2行加...则设置为2*/
}
.text-ellipsis-3 {
    -webkit-line-clamp:3;/*文本占的行数,如果要设置2行加...则设置为3*/
}
.text-ellipsis-4 {
    -webkit-line-clamp:4;/*文本占的行数,如果要设置2行加...则设置为4*/
}
.text-ellipsis-5 {
    -webkit-line-clamp:5;/*文本占的行数,如果要设置2行加...则设置为5*/
}
.text-ellipsis-6 {
    -webkit-line-clamp:6;/*文本占的行数,如果要设置2行加...则设置为6*/
}
/*轮播图*/
.header-banner-imgs img{
    height:600px;
}
/*轮播图*/

/*客服*/
.call img{
    width:24px;
    height:24px;
    margin-top: 8px;
}
.call{
    position: fixed;
    top:50%;
    right:0;
    z-index:100000;
}
/*电话*/
#telnumber {
    margin-top: -80px;
    background: rgba(6, 146, 63, 0.8);
    color: rgba(255, 255, 255, 0.7);
    border-radius: 4px 0 0 0;
    line-height: 40px;
    font-size: 24px;
    width:40px;
    height:40px;
}
#telnumber span {
    display: none;
    position: absolute;
    right: 60px;
    width: 120px;
    top: -80px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(6, 146, 63, 1);
    border-radius: 4px;
}
.text-xs {
    font-size: 12px;
}
#telnumber p {
    display: none;
    font-size: 12px;
    line-height: 14px;
    margin-top: 6px;
}
#telnumber:hover {
    background: rgba(6, 146, 63, 1);
    color: white;
}
#telnumber:hover span {
    display: block;
}
#telnumber span::after {
    border-left-color: rgba(6, 146, 63, 1);
    content: "";
    display: block;
    position: absolute;
    right: -26px;
    top: 0;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    z-index: 1111;
}

/*QQ*/
#qq:hover {
    background: rgba(116, 41, 184, 1);
    color: white;
}
#qq {
    margin-top: 0px;
    background: rgba(116, 41, 184, 0.8);
    color: rgba(255, 255, 255, 0.7);
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 24px;
    z-index: 999;
    cursor: pointer;
}
#qq span {
    display: none;
    position: absolute;
    right: 60px;
    width: 90px;
    top: -40px;
    background: rgba(116, 41, 184, 1);
    border-radius: 4px;
}
.text-xs {
    font-size: 12px;
}
#qq span a {
    color: rgb(232, 207, 255);
}
.b-r-dashed {
    border-right-style: dashed !important;
}
.b-r {
    border-right: 1px solid #dee5e7;
}
.padder-xs {
    padding-right: 10px;
    padding-left: 10px;
}
.text-2x {
    font-size: 2em;
}
#qq span::after {
    border-left-color: rgba(116, 41, 184, 1);
    content: "";
    display: block;
    position: absolute;
    right: -26px;
    top: 0;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    z-index: 1111;
}
#qq:hover span {
    display: block;
}
#code {
    background: rgba(24, 180, 148, 0.8);
    color: rgba(255, 255, 255, 0.7);
}
#code {
    position: fixed;
    top: 50%;
    right: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 24px;
    z-index: 999;
    cursor: pointer;
}
.tras-03 {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.text-center {
    text-align: center;
}
#code span {
    display: none;
    position: absolute;
    right: 60px;
    top: 0;
    padding: 2px;
    /* padding-right: 10px; */
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
}
.text-xs {
    font-size: 12px;
}
#code span::after {
    border-left-color: rgba(24, 180, 148, 0.8);
    content: "";
    display: block;
    position: absolute;
    right: -26px;
    top: 0;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    z-index: 1111;
}
#code:hover {
    background: rgba(24, 180, 148, 1);
    color: white;
}
#code:hover span {
    display: block;
}

/*客服*/





/*头部*/
.index_btn{
    width:100px;
    height:30px;
    border-radius:16px;
    font-size:14px;
    border:none;
    display: inline-block;
    line-height: 30px;
    text-align: center;
}
.solgan_word{
    font-size:14px;
    color:#fff;
    display: inline-block;
}
.top{
    height:50px;
    line-height:50px;
    background-color:#2e2a3f!important;
}
.index_login{
    font-size:16px;
    color:#fff;
}
.header .top .el-col{
    padding:0 !important;
}
.header .top .el-col {
    padding: 10px 0;
}

.solgan_word {
    color: #fff;
    padding: 0;
}

.header .text {
    display: inline-block;
    padding: 0 5px;
}

.header .hr {
    color: #fff;
}
.main{
    margin-top: 50px;
    height: 80px;
}

/*头部*/

/*footer*/
.padder-v-md ul li{
    width:100%;
    color:#aaa;
    font-size:14px;
    line-height:25px;
}
.footer_logo img{
    width:220px;
    height:63px;
    margin-left:0;
    margin-bottom:50px;
}
.padder-v-md ul li:first-child{
    margin-bottom:20px;
    font-size:16px;
    color:#ccc;
}
.attention{
    margin-bottom:30px;
    color:#ccc;
    text-align: center;
}
.footer_footer{
    height:50px;
    line-height:50px;
    clear:both;
}
footer .router-link-exact-active{
    color:#aaa;
}
/*footer*/

/*banner图*/
.bg-img1{
    background: url(../img/kongjianbanner.png) no-repeat center center;
    height:500px;
}
.bg-img2{
    background: url(../img/xueyuanbanner.png) no-repeat center center;
    height:500px;
}
.bg-img3{
    background: url(../img/fuwubanner.jpg) no-repeat center center;
    height:500px;
    position: relative;
}
/*banner图*/

/*common*/
.title{
    margin-top:50px;
    color:#2e2a3f;
    font-size:28px;
    text-align: center;
    margin-bottom:50px;
}
.bg_title{
    background-color:#f1f1f1;
    padding-bottom:50px;
}
.margin-bottom{
    padding-bottom:50px;
}
.height{
    height:300px;
}
/*common*/


/*全面专业的服务体系*/
.index_service{
    height:140px;
}
.index_service img{
    width:70px;
    height:70px;
    margin-top: 25px;
}
.index_service p{
    margin-top:0;
    line-height:30px;
    height:30px;
}
.index_service,
.tutorList .item {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.index_service:hover,
.tutorList .item:hover {
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
/*全面专业的服务体系*/

/*国家级孵化器*/
.index_incubator{
    position:relative;
    height:582px;
}
.index_incubator_img img{
    height:582px;
}
.el-carousel__container {
    position: relative;
    height: 582px !important;
}
.el-carousel__indicators{
    display: none;
}
@media (min-width: 768px) and (max-width: 992px){
    .carousel_btn .el-carousel__arrow--left {
        top: 495px;
        left: 26px;
        z-index: 100000;
    }

    .carousel_btn .el-carousel__arrow--right {
        top: 495px;
        right: 590px;
        z-index: 100000;
    }
}
@media (min-width: 992px) {
    .carousel_btn .el-carousel__arrow--left {
        top: 495px;
        left: 26px;
        z-index: 100000;
    }

    .carousel_btn .el-carousel__arrow--right {
        top: 495px;
        right: 456px;
        z-index: 100000;
    }
}
@media (max-width: 768px) {
    .carousel_btn .el-carousel__arrow--left{
        top:495px;
        left:26px;
        z-index:100000;
    }
    .carousel_btn .el-carousel__arrow--right{
        top:495px;
        right:190px;
        z-index:100000;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.carousel_btn .el-carousel__arrow:hover {
    color:#18b494;
}

.index_incubator_content {
    background-color: rgba(46, 42, 63, 0.5);
    height: 382px;
    bottom: 39px;
    position: absolute;
    padding: 100px 30px;
    z-index: 100;
}
.index_incubator_content h3{
    margin-bottom:32px;
    line-height:30px;
    font-weight: normal;
}
.index_incubator_content p{
    line-height:30px;
}
.label{
    display: block;
    width:130px;
    height:26px;
    line-height:26px;
    border-radius:13px;
    border:1px solid #18b494;
    background-color: transparent;
    margin-top: 36px;
}
.right_img img{
    height:167px;
}
.right_img{
    height:167px;
}
.right_content h3{
    font-weight: normal;
    margin-bottom:10px;
}
.right_content p{
    font-size:14px;
    color:#333;
    line-height:25px;
}
.label2{
    display: inline-block;
    padding: 0 2px;
    line-height: 22px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #18b494;
    background-color: transparent;
    text-align: center;
    margin-top: 10px;
    margin-right: 3px;
}

.index-fh-mb:last-child{
    margin-bottom: 0;
}
@media (min-width: 970px) {
    .index-fh-mb{
        margin-bottom: 35px;
    }
}
@media (max-width: 970px) {
    .index-fh-mb{
        margin-top: 40px;
    }
}
.index_incubator_img img{
    position: relative;
}
.index_incubator_content{
    width:40%;
    position: absolute;
    top:0;
    left:0;
}
/*国家级孵化器*/
/*数字*/
.index .number{
    width:100%;
    margin-bottom:50px;
}
.number img{
    width:100%;
    height:300px;
    position:absolute;
}
.number .container{
    position:relative;
    top:0;
    left:0;

}
.fullwidth-block-inner{
    height:300px;
}
.index_number{
    margin-top: 80px;
}
.index_number .num{
    color:#18b494;
    font-size:67px;
    text-align: center;
}
.index_number_title{
    margin-top: 5px;
    text-align: center;
}

/*数字*/
/*线上课堂*/
.onlineCourse {
    margin-bottom: 50px;
}
.onlineWrap {
    width: 100%;
    height: 170px;
}
.item:hover .onlineMask {
    top: 0;
}
.onlineWrap img, .onlineMask {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.onlineMask {
    top: -170px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}
.onlineMask a {
    border: 1px solid #fff;
    font-size: 14px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    margin: 60px auto 0 auto;
}
.courseMask {
    top: -186px;
}
.onlineMask a:hover {
    color: #fff;
}
.onlineWord p {
    padding: 5px 3px 2px 3px;
    line-height: 20px;
    box-sizing: border-box;
}
.onlineWord p strong {
    background-color: #18b494;
    font-size: 12px;
    width: 40px;
    padding: 2px;
    border-radius: 5px;
}
/*线上课堂*/


/*孵化器详情页*/
.float_left p{
    float:left;
    margin-right:30px;
}
.float_left h4{
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn3{
    width:80px;
    height:35px;
    line-height:35px;
    text-align: center;
    border:1px solid #18b494;
    background-color: transparent;
    color:#18b494;
    border-radius:4px;
    float:right;
    margin-top: -35px;
    outline:none;
}
.btn3:hover{
    cursor: pointer;
}
.incubation_detail_content{
    padding:10px 30px;
    min-height:190px;
}
.p4{
    margin:0 auto;
    font-size:14px;
    line-height:25px;
}
.investment_policy{
    margin-right:0;
    background-color:#fff;
    border:none;
    padding:5px 10px;
}
.investment_policy ul li{
    font-size: 14px;
    color:#333;
    height:30px;
    line-height:30px;
}
.line-height{
    line-height:25px;
}
.detail_title {
    font-size: 16px;
    line-height: 50px;
    color: #333;
    font-weight: normal;
}
.space_img {
    padding: 30px 0 40px 0;
    text-align: center;
}
.space_img div img {
    width: 60px;
    height: 60px;
}
.space_img p {
    text-align: center;
}
.space_show_right {
    background-color: #fff;
    padding: 0 20px;
    /*border-left: 20px solid #f1f1f1;*/
}
.i-d{
    margin-right:0;
    background-color:#fff;
    border:none;
}
@media(min-width: 768px){
    .space_show_right {
        background-color: #fff;
        padding: 0 20px;
        border-left: 20px solid #f1f1f1;
    }
    .btn3 {
        margin-top: -35px;
    }
}
@media(max-width: 768px){
    .space_show_right{
        width:100%;
        margin-top: 30px;
    }
    .btn3 {
        margin-top: -60px;
    }
}
/*孵化器详情页*/

/*孵化器列表*/
.p5{
    font-size: 14px;
    font-weight: bold;
    color:#333;
}
.btn5{
    width:80px;
    height:25px;
    line-height:25px;
    text-align: center;
    border:1px solid #18b494;
    background-color: transparent;
    color:#18b494;
    border-radius:4px;
    outline:none;
    font-size: 14px;
    margin-top: 10px;
    display: block;
}
.index_headline:hover {
    border: 1px solid #18b494;
    border-radius: 5px;
}
/*孵化器列表*/

/*图片旋转*/
.rotate{
    position: relative;
    top: -100px;
    left: 0;
}
.incubator_one_p{
    line-height:40px;
    font-size:18px;
}
.back p:first-child{
    margin-top:46px;
    margin-bottom:24px;
    color:#fff;
}
.flipper img{
    width:80px;
    height:80px;
}
.flipper p{
    padding-left:40px;
    padding-right:40px;
    overflow: hidden;
    margin: auto;
    margin-top:-10px;
    margin-bottom:10px;
}
.btn1{
    margin-top:10px;
    border:none;
    width:40%;
    height:32px;
    border-radius:20px;
}
.btn2{
    background-color:#fff;
    margin-top:20px;
    border:none;
    width:40%;
    height:32px;
    border-radius:20px;
}
.back{
    box-shadow:3px 3px 3px #74c5b5;
}
.front{
    box-shadow:3px 3px 3px #ddd;
}
.front img{
    margin-top:20px;
}
.flip-container {
    width:100%;
    display: inline-block;
    -webkit-perspective: 500;
    -moz-perspective: 500;
    -ms-perspective: 500;
    perspective: 500;
    -ms-transform: perspective(500px);
    -moz-transform: perspective(500px);
    transform-style: preserve-3d;
}
.flipper {
    text-align: center;
    position: relative;
    height: 260px;
    transition: 1s;
    transform-style: preserve-3d;
}
/* 触发翻转 */
.flip-container:hover .flipper{
    transform: rotateY(180deg);

}
.front ,.back{
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}
.front {
    transform: rotateY(0deg);
    z-index: 2;
}
.back {
    transform: rotateY(-180deg);
}

/*图片旋转*/

/*孵化项目*/
.incubation_project{
    background: url(../img/project_bg.png) no-repeat center center;
    height:200px;
    background-size:95%;
    margin-bottom:10px;
}
.incubation_project h1{
    margin-top:55px;
    font-weight: 400;
}
.incubation_project p{
    margin:20px 40px;
    height:40px;
}

.incubation_project:hover p {
    color: #18b494;
}
.incubation_project:hover h1 {
    color: #fff;
}
.incubation_project h1, .incubation_project p {
    transition: color .4s;
}
/*孵化项目*/

/*入孵企业*/

/* 入孵企业列表 */
.hatchedList .row {
    width: 100%;
}
.hatchedList .item {
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 20px;
}

.hatchedList .item .line_green {
    width: 60px;
    height: 1px;
    margin: 0 auto 10px auto;
}
.hatchedList .item h1 {
    line-height: 24px;
    margin-bottom: 10px;
    padding-top: 30px;
    font-weight: normal;
}
.hatchedList .item p {
    width: 80%;
    margin-left: 10%;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.hatchedList .item p span {
    color: #666;
    display: inline-block;
    padding-right: 5px;
}

.hatchedList .item .rel {
    height: 96px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 15px;
}

.hatchedList .item .rel .img_wrap {
    width: 86px;
    height: 86px;
    left: 50%;
    margin-left: -50px;
    z-index: 10;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
}

.hatchedList .item .rel img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.hatchedList .item .rel .img_line {
    width: 80%;
    height: 1px;
    background-color: #ccc;
    top: 50%;
    left: 10%;
    z-index: 9;
}
.text-desc{
    position: absolute;
    left: 15px;
    top: 0;
    height: 95%;
    opacity: 0;
    padding: 20px;
}
.port-1{
    float: left;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 4px solid rgba(255, 255, 255, 0.9);
}
.port-1 .text-desc{
    opacity: 1;
    top: -100%;
    transition: 0.5s;
    color: #000;
    padding: 60px 20px 20px;
    left: 10px;
    width: 79%;
}
.port-1 img{
    transition: 0.5s;
}
.port-1:hover img{
    transform: scale(1.2);
}
.port-1.effect-1:hover .text-desc{
    top: 0;
}
.port-1.effect-2 .text-desc{
    top: auto;
    bottom: -100%;
}
.port-1.effect-2:hover .text-desc{
    bottom: 0;left:10px;
}
.i-p{
    padding-bottom:55px !important;
    height:231px;
    display:none;
    z-index:10;
    margin-bottom: 0!important;
    padding-bottom: 55px;
}
/*入孵企业*/

/* 入孵企业详情 */
.hatchedWrap {
    padding-top: 30px;
    padding-bottom: 40px;
}

.hatchedImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 5%;
}

.hatchedInfo {
    width: 300px;
    margin-top: 5px;
}

.hatchedInfo p {
    width: 100%;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
}

.hatchedInfo p span {
    border: 1px solid #fff;
    padding: 2px 5px;
    font-size: 12px;
    margin-right: 5px;
    border-radius: 5px;
}

.hatchedBody {
    margin-top: 30px;
}
.hatchedBody6{
    line-height:30px;
}
/* 入孵企业详情 */

/*入孵流程图*/
.appli_process_r_2{
    width: 100%;
    height: 200px;
    background: url(../img/rufulc.png) no-repeat center center;
    background-size: contain;
}

/*入孵流程图*/
/*详情标题*/
.detail_title{
    font-size:16px;
    line-height:50px;
    color:#333;
}
.detail_title span{
    color:#18b494;
    font-weight: bold;
    margin-right: 3px;
}
.space_show_img{
    padding:15px;
    margin-right: 15px;
}
.s_show_img{
    height:290px;
}
.space_show_img img{
    width:100%;
    height:230px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*详情标题*/


.nav-tabs > li {
    width: 12%;
    text-align: center;
}
.tab1 {
    height:55px;
    border-bottom: 1px solid #18b494;
}
.tab1 > li.active > a, tab1 > li.active > a:hover, .tab1 > li.active > a:focus {
    border: 1px solid #18b494;
    border-bottom-color: transparent;
}
.nav-tabs > li.active > a {
    color: #18b494;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
    color: #18b494;
}
.service_index_li{
    height:116px;
    border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
    padding:10px;
}
.service_index_li h1{
    color:#000;
    font-size:16px;
    line-height:40px;
}
.service_index_li p{
    color:#666;
    font-size:13px;
    line-height:20px;
}
.service_detail_list>.nav > li > a{
    padding: 10px 0;
}
.service-left-img-p{
    position:absolute;
    top: 30px;
    left: 10px;
    color: #fff;
}
.s-img img{
    height:410px;
}
.el-tabs__header {
    padding: 0;
    position: relative;
     margin: 0;
}
.el-tabs__item {
    padding: 0 38px;
}
.el-tabs--card>.el-tabs__header .el-tabs__item:first-child {
    border-left: none;
    padding: 0 52px;
}
.s-p{
    border: 1px solid #ddd;
    border-top: none;
    height: 100px;
    line-height: 40px;
    padding-left: 10px;
}
.serp{
    width: 23%;
    top:20%;
    left:0;
    padding: 15px;
    line-height: 25px;
}
/*服务*/

/*服务详情页*/
.sdp{
    padding:20px 0;
}
.el-breadcrumb {
    height: 70px;
    line-height:50px;
    margin-left:10px;
}
.sdw{
    background-color:#fff;
    padding-top:20px;
}
.category-bg{
    background:url(../img/category-bg.png);
    min-height:700px;
}
.service_detail_title p{
    line-height:25px;
    text-align: left;
    color:#666;
}
.category-b{
    font-weight:bold;
}
#category-qq{
    cursor: pointer;
    float:right;
}
.el-submenu__title:hover {
    background-color: #18b494;
    color:#fff;
}
.el-menu-item.is-active {
    color: #18b494;
}
.serviceDetail .active{
    color:#18b494;
    font-weight: bold;
}
.el-menu-item-group ul li{
    padding:0 20px !important;
}
.f15{
    font-size: 15px;
}
/*服务详情页*/


/*流程*/
.appli_process_r_1 {
    width: 100%;
    height: 100px;
    background: url(../img/service_process_line.png) no-repeat center center;
    background-size: contain;
}
/*流程*/

/*合作伙伴*/
.partner_logo{
    border:1px solid #ddd;
    height:100px;
    width:100%;
    transition: all 0.4s;
}
.partner_logo1{
    background:url(../img/1.png) no-repeat center center;
    background-size:90%;
}
.partner_logo2{
    background:url(../img/2.png) no-repeat center center;
    background-size:90%;
}
.partner_logo3{
    background:url(../img/3.png) no-repeat center center;
    background-size:90%;
}
.partner_logo4{
    background:url(../img/4.png) no-repeat center center;
    background-size:90%;
}
.partner_logo5{
    background:url(../img/5.png) no-repeat center center;
    background-size:90%;
}
.partner_logo6{
    background:url(../img/6.png) no-repeat center center;
    background-size:90%;
}
.partner_logo7{
    background:url(../img/7.png) no-repeat center center;
    background-size:90%;
}
.partner_logo8{
    background:url(../img/8.png) no-repeat center center;
    background-size:90%;
}
.partner_logo9{
    background:url(../img/9.png) no-repeat center center;
    background-size:90%;
}
.partner_logo10{
    background:url(../img/10.png) no-repeat center center;
    background-size:90%;
}
.partner_logo11{
    background:url(../img/11.png) no-repeat center center;
    background-size:90%;
}
.partner_logo12{
    background:url(../img/12.png) no-repeat center center;
    background-size:90%;
}
.partner_logo:hover{
    background-color:#f1f1f1;
}
/*合作伙伴*/


/*云创孵化*/
.index_headline{
    border:1px solid #ccc;
    /*margin-right:30px;*/
    margin-bottom:30px;
    display: block;
}
.index_headline img{
    width:100%;
    height:200px;
}
.index_headline_content{
    padding:20px 15px 30px 15px;
    margin-top: -4px;
}
.h4{
    font-size:16px;
    color:#2e2a3f;
    margin-bottom:30px;
}
.p3{
    font-size:14px;
    color:#666;
}
.margin_btn{
    margin-top:20px;
}
/*云创孵化*/

/*资讯中心*/
.news-leftlist{
  margin-top: 20px;
}
.pos-abt {
    position: absolute;
}
.m-r {
    margin-right: 15px;
}
.text-muted {
    color: #98a6ad;
}
.m-r-xs {
    margin-right: 5px;
}
.pull-left {
    float: left !important;
}
.text-dark-lt {
    color: #454b60;
}
.news-margin {
    margin-bottom: 10px;
}
.news-clear {
    clear: both;
    overflow: hidden;
}
.news-left {
    margin-top: 0;
    border-bottom: 1px solid #dee5e7;
    padding-bottom: 10px;
}
.news-rightlist{
    padding:15px 5px;
}
.m_article{
    background-color:#fff;
    padding-top:15px;
}
.article_title{
    margin-bottom: 10px;
}
.article-header div p {
    display: inline-block;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.padder-v-xxl {
    padding-top: 50px;
    padding-bottom: 50px;
}
.news_header_img {
    display: block;
    height: 200px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.news_header_img img {
    height: 200px;
    width: 100%;
}
.news_header_img p {
    display: block;
    position: absolute;
    text-align: center;
    color: #fff;
    bottom: 7px;
    background-color: rgba(0,0,0,0.5);
    height: 30px;
    line-height: 30px;
}
.m-right{
    margin: 10px 5px 20px 5px;
}
/*资讯中心*/

/*分页*/

/*分页*/